* {
    font-family: 'Gloock', serif;
    color: black;
    text-align: center;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0px;
    border-radius: 30px;
  }
  
  #myBtn:hover {
    background-color: #7251b5;
  }


#backtoTopIcon {
    position: sticky;
    height: 50px;
    width: auto;
    left: 90%;
}

.navbar-brand {
    letter-spacing: 3px;
  }

#nav ul {
    display: inline-block;
    list-style-type: none;
}

/* Remove box shadow from the navbar */
.navbar {
    box-shadow: none;
}

#navItem {
    color: black; /* Default text color */
    transition: color 0.3s; /* Add transition for smooth color change */
}

#navItem:hover {
    color: #7251b5; /* Text color on hover */
}

body {
    background: #d2b7e5;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: fit-content;

}

html, body {
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

/* style="font-size: 8em;" */
#name {
    font-size: 8em;
    font-family: 'Gloock', serif;    
    text-transform: uppercase;
    height: auto;
    padding-bottom: 20px;
}

#projectHighlights {
    max-width: 1140px;
}

img {
    position: relative;
    height: 220px;
    width: 220px;
    border-radius: 30px;
    filter: grayscale(60%);
}

#flipImgHorizontally {
      /* flip horizontally */
      transform: scaleX(-1);
}

h3 {
    padding: 20px;
}
h4 {
    text-align: left;
}
#projectText {
    font-family: 'Instrument Sans', sans-serif;
    text-align: start;
    padding: 20px;
    padding-top: 0;
}

.container-lg {
    max-width: 1140px;
}

main {
    background: #d2b7e5;

}
#aboutMeSection {
    background-color: #7251b5;
    color: white;
    padding-bottom: 20%;
}

#lavenderSection {
    background: #d2b7e5;
    padding-bottom: 10%;
}

#aboutMeHeader {
    padding-top: 10%;
    padding-bottom: 20px;
    text-align: left;
    color: white;
    font-size: 50px;
}


#aboutMeParagraph {
    text-align: left;
    color: white;
    font-family: 'Instrument Sans', sans-serif;

}


#sunshineIcon {
    position: absolute;
    margin-top: 14%;
    left: 4%;
    filter: none;
    z-index: 1;
    transform: rotate(-5deg);
    width: 80px;
    height: 80px;

}

#squiggleIcon {
    filter: none;
    position: absolute;
    left: 60%;
    margin-top: 33%;
    z-index: 1;
    transform: rotate(-90deg);
    height: 100px;
    width: 100px;
   
}

#pencilIcon {
    position: absolute;
    margin-top: -8%;
    right: 60%;
    filter: none;
    z-index: 1;
    transform: rotate(-5deg);
    width: 100px;
    height: 100px;
    transform: scaleX(-1);
}
#workingIcon {
    filter: none;
    top: 40px;
    width: 600px;
    right: 70px;
}

/* GENERAL PROJECT STYLING */
#projectHeader {
    color: black;

    padding-top: 10%;
    padding-bottom: 20px;
    text-align: left;
    font-size: 50px;
}


#projectParagraph {
    text-align: left;
    color: black;
    font-family: 'Instrument Sans', sans-serif;

}
/* PROJECT 0: WatchTime */
#watchTimeImg {
    filter: none;
    height: 100%;
    width: 120%;
    bottom: 1%;
    filter: none;
}
/* PROJECT 1: Pomodoro Timer */
#pomodoroImg {
    filter: none;
    width: auto;
    height: 100%;
    bottom: 10%;
}

#pomodoroCols {
    padding-bottom: 0px;
    height: 600px;
}

/* PROJECT 2: Pixel Pal */
#pixelPalImg {
    filter: none;
    height: 100%;
    width: 140%;
    bottom: 1%;
    filter: none;
}

/* PROJECT 3: Howler */
/* PROJECT 2: Pixel Pal */
#howlerImg {
    filter: none;
    height: 100%;
    width: 140%;
    bottom: 1%;
    filter: none;
    border-radius: 10px;
}

div.center {

    text-align: center;
    
    }

/* #6247AA; */
#contactMeHeader {
    color: #d2b7e5;
    padding-top: 4%;
    padding-bottom: 20px;
    text-align: left;
    font-size: 50px;
}

#contactMeParagraph {
    text-align: left;
    color: #d2b7e5;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: bold;
}

#personStandingImg {
    height: 100%; 
}

#contactIcon {
    filter: none;
    height: 50px;
    width: auto;
}

video {
    max-width: 960px;
}


.spacing {
    background-color: #d2b7e5;
    padding: 40px;
}
/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    * {
        font-family: 'Gloock', serif;   
        color: black;
        text-align: center;
    
    }
    body {
        background: #d2b7e5;
        overflow-x: hidden; /* Hide horizontal scrollbar */
    
    }
    /* Adjust styles for screens up to 768px wide */
    #name {
        font-size: 4em;
        padding-top: 5%;
    }
    
    img {
        height: auto;
        width: 100%;
    }

    video {
        max-width: 500px;
    }

    #howlerImg {
        height: 80%;
        width: 180%;
    }

    #pixelPalImg {
        width: 190%;
        height: auto;
    }

    #pomodoroImg {
        height: 80%;
        bottom: 0%;
    }

    #watchTimeImg {
        height: 70%;
        width: auto;
    }

    #workingIcon {
        filter: none;
        top: 190px;
        left: 2px;
        width: 300px;
        right: 70px;
    }

    #pencilIcon, #squiggleIcon, #sunshineIcon {
        display: none;
    }
    
    /* Add more responsive styles as needed */
}

@media screen and (max-width: 480px) {
    /* Adjust styles for screens up to 480px wide */
    #name {
        font-size: 3em;
        padding-top: 10%;
    }

    body {
        background: #d2b7e5;
        overflow-x: hidden; /* Hide horizontal scrollbar */
    
    }

    #workingIcon {
        top: 10px;
    }

    #watchTimeImg {
        margin-top: 0px;

    }

    #pixelPalImg {
        width: 80%;
        height: auto;
    }

    #howlerImg {
        height: auto;
        width: 80%;
    }
    /* Add more responsive styles as needed */
}
